	
<%= link_to "#", class: "row border rounded m-3 dropdown-toggle source pt-2", data: { source_id: source.id, collection_id: source.collection.id, toggle: "dropdown" }, id: "navbarDropdown", 'aria-haspopup': true, 'aria-expanded': false do %>
<div class="col-12">
	<div style="font-size: 12px; color: red; text-align: end" class="pb-1"><%= source.collection.title %></div>
	<p class="h6 font-weight-bold source-title"><%= source.title %></p>			
	<span style="font-size: 12px;"><%= source.url %></span>			
</div>
<% end %>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
	<%= link_to source.url, class: "dropdown-item" do %>
		<i class="fas fa-rocket"></i>Go to URL
	<% end %>
	<% unless controller_name == "pages" && action_name == "home" %>
		<%= link_to collection_source_path(source.collection, source),
			class: "dropdown-item text-danger",
			remote: true,
			method: :delete,
			data: { confirm: "Are you sure?" } do %>
			<i class="fas fa-trash"></i>Remove Source
		<% end %>
	<% end %>
</div>