<div class="footer border-top">
	<ul class="list-unstyled d-flex justify-content-around m-0">
		<% case controller_name %>
		<% when "pages", "users" %>
			<li class="btn-padding">
				<%= link_to root_path, class: "menu-btn" do %>
				<i class="fas fa-home"></i>
				<% end %>
			</li>
			<% if user_signed_in? %>
				<li class="btn-padding">
					<%= link_to collections_path, class: "menu-btn" do %>
					<%= show_svg("icons/Folders.svg") %>
					<% end %>
				</li>
				<li class="btn-padding">
					<%= link_to user_path(current_user), class: "menu-btn" do %>
					<i class="fas fa-user-circle"></i>
					<% end %>
				</li>
				<li class="btn-padding">
					<%= link_to new_collection_path, class: "menu-btn" do %>
					<i class="fas fa-plus"></i>
					<% end %>
				</li>	
			<% end %>
		<% when "collections" %>
			<% case action_name %>
			<% when "index" %>
				<li class="btn-padding">
					<%= link_to root_path, class: "menu-btn" do %>
					<i class="fas fa-arrow-left"></i>
					<% end %>
				</li>
				<li class="btn-padding">
					<button class="menu-btn" id="submit-collections"><i class="fas fa-check"></i></button>
				</li>
			<% when "new" %>
				<li class="mr-auto ml-5">
					<%= link_to root_path, class: "menu-btn" do %>
					<i class="fas fa-arrow-left"></i>
					<% end %>
				</li>
			<% when "show" %>
				<% if @collection %>
					<li class="btn-padding">
						<%= link_to collections_path, class: "menu-btn" do %>
						<i class="fas fa-arrow-left"></i>
						<% end %>
					</li>
					<li class="btn-padding">
						<%= link_to new_collection_source_path(@collection), class: "menu-btn" do %>
							<i class="fas fa-plus"></i>
						<% end %>
					</li>
					<li class="btn-padding">
						<%= link_to collection_path(@collection), method: :delete, data: { confirm: "Are you sure you want to delete this collection??" }, class: "menu-btn" do %>
							<i class="fas fa-trash text-danger"></i>
						<% end %>
					</li>
				<% end %>
			<% end %>
		<% end %>
	</ul>
</div>